<!-- app/views/conditions/show.html.erb -->
<div class="relative sm:ml-40 lg:ml-44 overflow-x-auto sm:rounded-lg">
  <%= turbo_frame_tag "condition" do %>
     <div class="py-6 mx-0">
      <h1 class="font-bold text-lg mb-2">Resource Condition: <%= @condition.id%></h1><br>
      <p><b>Clinical Status</b>:  <%= @condition.clinical_status %></p><br>
      <p><b>Verification Status</b>: <%= @condition.verification_status %></p><br>
      <p><b>Category</b>: <%= @condition.category %></p><br>
      <p><b>Code</b>: <%= @condition.code %></p><br>
      <p><b>Onset</b>: <%= @condition.onset %></p><br>
      <p><b>Recorded Date</b>: <%= @condition.recorded %></p><br>
      <p><b>Asserted Date</b>: <%= @condition.asserted %></p><br>
      <p><b>Asserter</b>: <%= @condition.asserter %></p><br>
      <p><b>Note</b>: <%= @condition.note %></p><br>
      <h3 class="mt-6">Evidences</h3>
      <table class="grid">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 dark:text-white dark:bg-gray-800">
          Detail
        </caption>
        <% @condition.evidences.each do |evidence| %>
          <tr
          data-controller="table-row-click"
          data-table-row-click-url="<%= evidence[:path] %>"
          data-action="click->table-row-click#goToLink"
          >
            <td class="px-6 py-4">*</td>
            <td class="px-6 py-4 text-blue-400">
              <%= evidence[:name] %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
