<section class='container'>
  <section class='row'>
    <dl>
      <dt>Category</dt>
      <dd><%= display_categories(@splasch_observation.categories) %></dd>
      <dt>Date/Time:</dt>
      <dd><%= display_datetime(@splasch_observation.effective_datetime) %></dd>
      <dt>Patient:</dt>
      <dd><%= display_subject(@splasch_observation.subject) %></dd>
      <dt>Performer:</dt>
      <dd><%= display_performers(@splasch_observation.performer) %></dd>
    </dl>
    <table class='table table-striped table-dark full-status'>
      <tr>
        <th>Assessment</th>
        <th>Observation</th>
      </tr>
      <tr>
        <td><%= @splasch_observation.code.coding[0].display %></td>
        <td><%= @splasch_observation.value.coding[0].display %></td>
      </tr>
    </table>
  </section>
</section>
