<%= turbo_frame_tag "diagnostic_reports" do %>
  <div class="mt-8 flow-root w-11/12">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <% if @diagnostic_reports.empty? %>
          <h1 class="text-center">No Diagnostic Report Found!</h1>
        <% else %>
          <table class="min-w-full text-sm text-left text-gray-500 dark:text-gray-400">
              <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700">
                <tr>
                  <th scope="col" class="px-4 py-3"><span class="sr-only">Expand/Collapse Row</span></th>
                  <th scope="col" class="px-4 py-3 min-w-[6rem]">Diagnostic Report</th>
                  <th scope="col" class="px-4 py-3 min-w-[6rem]">Date</th>
                  <th scope="col" class="px-4 py-3 min-w-[6rem]">Clinical Status</th>
                </tr>
              </thead>
              <tbody data-accordion="table-column">
                <% @diagnostic_reports.each do |report| %>
                  <% identifier = report.id %>
                  <% status = report.status %>
                  <tr class="border-b dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-700 cursor-pointer transition"
                    id="table-column-header-<%= identifier %>" data-accordion-target="#table-column-body-<%= identifier %>"
                    aria-expanded="false" aria-controls="table-column-body-<%= identifier %>" data-showhide-target="<%= status %>"
                  >
                    <td class="p-3 w-4">
                      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewbox="0 0 20 20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                    </td>
                    <td ><%= report.code %></td>
                    <td ><%= report.effective_datetime %></td>
                    <td class="px-4 py-3 whitespace-nowrap">
                      <%color = report.status == 'final' ? 'green' : 'gray' %>
                      <div class="w-fit bg-<%= color %>-100 text-<%= color %>-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
                        <%= report.status %>
                      </div>
                    </td>
                  </tr>
                  <tr class="hidden flex-1 overflow-x-auto w-full" id="table-column-body-<%= identifier %>" aria-labelledby="table-column-header-<%= identifier %>">
                    <td scope="col" class="px-4 py-3"><span class="sr-only">Expand/Collapse Row</span></td>
                    <td class="p-4 border-b" colspan="4">
                      <% if report.status %>
                        <div class="items-center mt-2">
                          <p class="flex items-center py-2"><b class="w-32">Status:</b><span class="flex-1"><%= report.status %></span></p>
                        </div>
                      <% end %>
                      <% if report.last_updated %>
                        <div class="items-center mt-2">
                          <p class="flex items-center py-2"><b class="w-32">Last Updated:</b><span class="flex-1"><%= report.last_updated %></span></p>
                        </div>
                      <% end %>
                      <% if report.code %>
                        <div class="items-center mt-2">
                          <p class="flex items-center py-2"><b class="w-32">Report Code:</b><span class="flex-1"><%= report.code %></span></p>
                        </div>
                      <% end %>
                      <% if report.subject %>
                        <div class="items-center mt-2">
                          <p class="flex items-center py-2"><b class="w-32">Subject:</b><span class="flex-1"><%= report.subject %></span></p>
                        </div>
                      <% end %>
                       <% if report.encounter %>
                        <div class="items-center mt-2">
                          <p class="flex items-center py-2"><b class="w-32">Encounter:</b><span class="flex-1"><%= report.encounter %></span></p>
                        </div>
                      <% end %>
                      <% if report.issued %>
                        <div class="items-center mt-2">
                          <p class="flex items-center py-2"><b class="w-32">Issued:</b><span class="flex-1"><%= report.issued %></span></p>
                        </div>
                      <% end %>
                      <% if report.performer %>
                        <div class="items-center mt-2">
                          <p class="flex items-center py-2"><b class="w-32">Performer:</b><span class="flex-1"><%= report.performer %></span></p>
                        </div>
                      <% end %>
                      <% if report.result %>
                        <div class="items-center mt-2">
                          <p class="flex items-center py-2"><b class="w-32">Result:</b><span class="flex-1"><%= report.result %></span></p>
                        </div>
                      <% end %>
                      <% if report.media_link %>
                        <div class="items-center mt-2">
                          <p class="flex items-center py-2"><b class="w-32">Media Link:</b><span class="flex-1"><%= report.media_link %></span></p>
                        </div>
                      <% end %>
                      <% if report.presented_form %>
                        <div class="items-center mt-2">
                          <p class="flex items-center py-2"><b class="w-32">Presented Form Type:</b><span class="flex-1"><%= report.presented_form %></span></p>
                        </div>
                      <% end %>
                      <div class="flex items-center space-x-3 mt-4">
                        <button type="button" class="py-2 px-3 flex items-center text-sm font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                            <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                          </svg>
                          Edit
                        </button>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br />
            <% if @pagy %>
              <%== pagy_nav(@pagy, link_extra: "data-turbo-action='advance'") %>
            <% end %>
            <br />
          <% end %>
      </div>
    </div>
  </div>
<% end %>
