<section class='container'>
  <section class='row'>
	<div class='card-header'>
		<h5><%= link_to "Previous Page", request.referer %></h5>
	</div>
  	<p>
  		Context: <%= display_categories(@bundled_functional_status.category) %><br />
  		Date/Time: <%= display_datetime(@bundled_functional_status.effective) %>
  	</p>
  	<table class='table table-striped table-dark full-status'>
  		<tr>
  			<th>Question</th>
  			<th>Response</th>
  		</tr>
 			<% @functional_statuses.each do |functional_status| %>
	  		<tr>
	  			<td><%= functional_status.code.coding[0].display %></td>
	  			<td><%= functional_status.value.coding[0].display %></td>
	  		</tr>
	  	<% end %>
	  </table>
	</section>
</section>
