<table class="w-full h-full text-sm text-left text-gray-700 dark:text-gray-400 shadow-md border-x-2">
  <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
    <%= Observation.format_domain(domain) %>
  </caption>
  <thead class="text-md text-white uppercase bg-gray-900">
    <tr>
      <th scope="col" class="px-6 py-3">Observation id</th>
      <th scope="col" class="px-6 py-3">Effective</th>
      <th scope="col" class="px-6 py-3">Code</th>
      <th scope="col" class="px-6 py-3">Performer</th>
      <th scope="col" class="px-6 py-3">Value</th>
    </tr>
  </thead>
  <tbody>
    <% observations.each do |observation| %>
      <tr class="bg-gray-100 border-b border-gray-300 hover:bg-blue-50"
        data-controller="table-row-click"
        data-table-row-click-url="<%= patient_observation_page_path(patient_id: @patient.id, id: observation.id) %>"
        data-action="click->table-row-click#goToLink"
      >
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= observation.id %></th>
        <td class="px-6 py-4"><%= observation.effective %></td>
        <td class="px-6 py-4"><%= observation.code %></td>
        <td class="px-6 py-4"><%= observation.performer %></td>
        <td class="px-6 py-4"><%= observation.measurement %></td>
      </tr>
    <% end %>
  </tbody>
</table>
