<p id="notice"><%= notice %></p>

<h1>Eltss Questionnaires</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eltss_questionnaires.each do |eltss_questionnaire| %>
      <tr>
        <td><%= link_to 'Show', eltss_questionnaire %></td>
        <td><%= link_to 'Edit', edit_eltss_questionnaire_path(eltss_questionnaire) %></td>
        <td><%= link_to 'Destroy', eltss_questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eltss Questionnaire', new_eltss_questionnaire_path %>
