<section class='container'>
  <section class='dashboard-header-text'>
    <%= render partial: 'encounters/patient-info' %>
    <br>
  </section >
  <section class='row'>
    <h2 class='text-center'>Organization: <%= @reassessment_timepoint.service_provider.name %></h2>
    <% @reassessment_timepoint.locations.each do |location| %>
        <p class='text-center'><%= location.address.text %></p>    
     <% end %>
    <div class='card bg-dark'>
        <div class='card-body'>
            <table class='table table-striped table-dark status caption-top'>
                <caption>
                    <h2>Timepoint Details</h2>
                    <span class='text-end'>
                        <b>Part Of</b>: &nbsp;
                        <%= link_to "Encounter-#{@reassessment_timepoint.part_of.id}", encounter_path(@reassessment_timepoint.part_of.id) %>
                    </span>
                </caption>
                <tr>
                    <td>Period: &nbsp;<%= "#{display_date(@reassessment_timepoint.period&.start&.to_date)} - #{display_date(@reassessment_timepoint.period&.end&.to_date)}" %></td>
                    <td>Identifier: &nbsp;<%= @reassessment_timepoint.identifier.value %></td>
                    <td>Status: &nbsp;<%= @reassessment_timepoint.status %></td>
                </tr>
                <tr>
                    <td>Encounter Type: &nbsp;<%= display_code(@reassessment_timepoint.type&.first) %></td>
                    <td>
                        Reason: &nbsp;
                        
                        <% @reassessment_timepoint.reason_code.each do |reason| %>
                            <%= display_code(reason) %>
                        <% end %>
                        
                    </td>
                    <td>Service Type: &nbsp;<%= display_code(@reassessment_timepoint.service_type) %></td>
                </tr>
            </table>
        </div>
    </div>
  </section>
  <section class='row' id='cards'>
    <div class='col-lg-6 card-container'>
        <%= render partial: 'encounters/providers-card', locals: { encounter: @reassessment_timepoint } %>
    </div>
    <div class='col-lg-6 card-container'>
        <%= render partial: 'assessments-card' %>
    </div>
  </section>
</section>