<p id="notice"><%= notice %></p>

<h1>Questionnaire Responses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaire_responses.each do |questionnaire_response| %>
      <tr>
        <td><%= link_to 'Show', questionnaire_response %></td>
        <td><%= link_to 'Edit', edit_questionnaire_response_path(questionnaire_response) %></td>
        <td><%= link_to 'Destroy', questionnaire_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Questionnaire Response', new_questionnaire_response_path %>
