<p id="notice"><%= notice %></p>

<h1>Care Plans</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @care_plans.each do |care_plan| %>
      <tr>
        <td><%= link_to 'Show', care_plan_path(care_plan.id) %></td>
        <td><%= link_to 'Edit', edit_care_plan_path(care_plan.id) %></td>
        <td><%= link_to 'Destroy', care_plan_path(care_plan.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Care Plan', new_care_plan_path %>
