<section class='container'>
  <section class='row'>
    <% if @care_plan.present? %>
      <div class='col-6 card-container'>
        <%= render 'care-plan-card'%>
      </div>
      <div class='col-6 card-container'>
        <%= render 'addresses-card' %>
        <br>
        <%= render 'goals-card' %>
      </div>
      <div class='col-6 card-container'>
        <%= render 'activities-card' %>
      </div>
      <div class='col-6 card-container'>
        <%= render 'supporting-info-card' %>
      </div>
    <% else %>
      Not available
    <% end %>
  </section>
</section>

