<div class='card bg-dark text-white'>
  <% @care_plan = CarePlan.new(object, @fhir_client) %>
  <div class='card-header'>
    <%= sanitize(@care_plan.title) %>
  </div>
  <div class='card-body'>
    <div class='row patient-info'>
      <div class='col-6'>
        <table class='table table-striped table-dark status'>
          <tr>
            <td>Patient</td>
            <td><%= link_to display_human_name(@care_plan.subject_names.first), dashboard_path(patient: get_id(@care_plan.subject.reference)) %></td>
          </tr>
          <tr>
            <td>Description</td>
            <td><%= sanitize(@care_plan.description) %></td>
          </tr>
          <tr>
            <td>Time Period</td>
            <td><%= display_raw_date(@care_plan.try(:period).try(:start)) %> - <%= display_raw_date(@care_plan.try(:period).try(:end))%></td>
          </tr>
          <tr>
            <td>Status</td>
            <td><%= sanitize(@care_plan.try(:status)) %></td>
          </tr>
          <tr>
            <td>Intent</td>
            <td><%= sanitize(@care_plan.try(:intent))%></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
