<div class='row patient-info justify-content-center'>
  <div class='col table-responsive-sm'>
    <div class=" mytooltip">
      View narrative
      <span class="mytooltiptext"><%= sanitize(object.text.div) %></span>
    </div>
    <br> <br>
    <table class='table table-striped table-dark status'>
      <tr>
        <% code = object.code.coding.first.code%>
        <td class='col-3'>Category: </td>
        <td class='col-3'><%= "#{object.code&.coding&.first&.display} (#{code})" || "unavailable" %></td>
      </tr>
      <tr>
        
        <% if object.valueString&.include?(":") %>
          <% index = object.valueString.rindex(":") %>
          <td class='col-3' colspan="2">
            <%= object.valueString.from(0).to(index) %> 
            <span style="font-weight:bold;"><%= object.valueString.from(index + 1) %></span>
          </td>
          <% else %>
          <td class='col-3' colspan="2"><%= object.valueString %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>