<tr>
  <td>
    <%= composition.section[index]["title"] %>
    <div class='col-lg-12 card-container'>
      <div class='card bg-dark text-white'>
        <table class='table table-striped table-dark status'>
          <tr>
            <% if composition.section[index]["objects"][0][:resource_type] == "ServiceRequest" %>
              <td>
                Category
              </td>
              <td>
                Request
              </td>
              <td>
                Status
              </td>
            <% else %>
              <td>
                Type
              </td>
              <td>
                Preference
              </td>
            <% end %>          
          </tr>

          <% composition.section[index]["objects"].each do |current_object| %>
          <tr>
            <% if current_object[:resource_type] == "ServiceRequest" %>
              <td>
                <%= current_object[:category] %>
              </td>
              <td>
                <%= current_object[:request] %>
              </td>
              <td>
                <%= current_object[:status] %>
              </td>
            <% elsif current_object[:resource_type] == "Observation" && current_object[:type] == "Additional portable medical orders or instructions" %>
              <td>
                <%= current_object[:type] %>
              </td>
              <td>
                <%= current_object[:preference] %>
              </td>
              <td>
              </td>
            <% else %>
              <td>
                <%= current_object[:type] %>
              </td>
              <td>
                <%= current_object[:preference] %>
              </td>
            <% end %>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </td>
</tr>
