<tr>
	<td>
		<%= display_raw_date(address.try(:period).try(:start)) %> - 
		<%= display_raw_date(address.try(:period).try(:end)) %>  
  </td>
	<td>
		<%= link_to google_maps(address), target: '_blank' do %>
		  <% address.line.each do |line| %>
		    <%= sanitize(line) %><br />
		  <% end %>
		  <%= 
		  	address.text ||
			"#{sanitize(address.city)}, #{sanitize(address.state)} #{display_postal_code(address.postalCode)}" 
		  %> 
		<% end %>
	</td>
</tr>
