<tr>
  <td>
		<%= display_raw_date(address.try(:period).try(:start)) %> -
		<%= display_raw_date(address.try(:period).try(:end)) %>
  </td>
	<td>
		<%= link_to google_maps(address), target: '_blank' do %>
			<% if address.line.present? %>
			  <% address.line.each do |line| %>
			    <%= sanitize(line) %><br />
			  <% end %>
			  <%= sanitize(address.city) %>,
			  <%= sanitize(address.state) %>
			  <%= display_postal_code(address.postalCode) %>
			<% else %>
				<%= address.text %>
			<% end %>
		<% end %>
	</td>
</tr>
