<header>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark justify-content-between">
    <div class="navbar-brand mx-2">
      <%= link_to root_path do %>
        <%= image_tag "logo.svg", id: "logo", alt: "(logo)" %>
        <div class="header-title">Pseudo EHR</div>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <%= link_to "Restart", restart_path, class: "nav-link text-danger" %>
        </li>
        <li>
          <%= link_to "Capability Statement", "#TODO", class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Patients", patients_path, class: "nav-link" %>
        </li>
      </ul>

      <form action="/patients" method="get" class="d-flex ms-auto">
        <input type="search" name="name" id="name" class="form-control" placeholder="Search patient by name" aria-lable="Search">
        <button type="submit" class="btn btn-outline-success mx-2">Search</button>
      </form>
    </div>

  </nav>
</header>
