<div class='card bg-dark text-center h-100'>
    <h4 class='card-header'>Diagnoses</h4>
    <div class='card-body'>
        <table class='table table-striped table-dark status'>
            <thead>
                <tr>
                    <th>Use</th>
                    <th>Condition</th>
                    <th>Onset Date</th>
                    <th>Clinical Status</th>
                    <!--<th>Asserter</th>-->
                </tr>
            </thead>
            <tbody>
                
                <% @encounter.diagnoses.each do |diagnosis| %>
                    <tr>
                        <td><%= diagnosis[:use] %></td>
                        <td><%= display_code(diagnosis[:condition].code) %></td>
                        <td><%= display_date(diagnosis[:condition].onsetDate) %></td>
                        <td><%= diagnosis[:condition].clinicalStatus&.coding&.first&.code %></td>
                        <!--<td><%= diagnosis[:condition].asserter %></td>-->
                    </tr>
                <% end %>
                
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted" style="font-size: 12px;">
        <p><small>FHIR Queries:</small></p>
        <ol class='list-group'>
                
            <% @encounter.fhir_queries.each do |query| %>
                <li class='list-group-item'><small><%= query %></small></li>
            <% end %>
                
        </ol>
    </div>
</div>