<p id="notice"><%= notice %></p>

<h1>Practitioner Roles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @practitioner_roles.each do |practitioner_role| %>
      <tr>
        <td><%= link_to 'Show', practitioner_role %></td>
        <td><%= link_to 'Edit', edit_practitioner_role_path(practitioner_role) %></td>
        <td><%= link_to 'Destroy', practitioner_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Practitioner Role', new_practitioner_role_path %>
