<p id="notice"><%= notice %></p>

<h1>Episode Of Cares</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @episode_of_cares.each do |episode_of_care| %>
      <tr>
        <td><%= link_to 'Show', episode_of_care %></td>
        <td><%= link_to 'Edit', edit_episode_of_care_path(episode_of_care) %></td>
        <td><%= link_to 'Destroy', episode_of_care, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Episode Of Care', new_episode_of_care_path %>
