<!-- <p id="notice"><%= notice %></p> -->

<!-- <%= link_to 'Edit', edit_episode_of_care_path(@episode_of_care.id) %> |-->


<section class='container'>
  <div class='card-header'><%= link_to 'Previous page', request.referer %></div>
  <section class='dashboard-header-text'>
    <%= render partial: 'encounters/patient-info' %>
    <br>
  </section >
  <section class='row'>
    <% unless @episode_of_care.nil? %>
      <h2 class='text-center'>Managing organization: <%= @episode_of_care.managing_organization.name.titlecase %></h2>
     <div class='col-lg-6 card-container'>
      <%= render partial: 'details-card' %>
     </div>
    <div class='col-lg-6 card-container'>
      <%= render partial: 'provider-card' %>
    </div>
    <%= render partial: 'dashboard/encounters-card' %>
    <% else %>
      Not available
    <% end %>
  </section>
</section>

<%# 
################################################################################
#
# eLTSS EpisodeOfCare Model
#
# Copyright (c) 2020 The MITRE Corporation.  All rights reserved.
#
################################################################################

class EpisodeOfCare < Resource
    include ActiveModel::Model

    attr_reader :id, :status, :patient, :careManager

    def initialize(fhir_episodeOfCare, fhir_client)
        @id = fhir_episodeOfCare.id
        @status = fhir_episodeOfCare.status
        @patient = fhir_episodeOfCare.patient
        @careManager = fhir_episodeOfCare.careManager
        
end %>
