<div class='card bg-dark text-white'>
  <div class='card-header'>
    Patient:
    <% @patient.names&.each do |name| %>
      <%= display_human_name(name) %><br />
    <% end %>
  </div>
  <div class='card-body'>
    <div class='row patient-info'>
      <div class='col-5'>
        <%= display_photo(@patient.photo, @patient.gender, class: 'profile-photo') %>
      </div>
      <div class='col-6'>
        <table class='table table-striped table-dark status'>
          <% @patient.extension&.each do |extension| %>
            <% if extension.url == "http://hl7.org/fhir/us/core/StructureDefinition/us-core-birthsex" %>
              <tr>
                <td>Sex</td>
                <td><%= extension.valueCoding&.display %></td>
              </tr>
            <% elsif extension.url == "http://hl7.org/fhir/us/core/StructureDefinition/us-core-genderIdentity" %>
              <tr>
                <td>Gender Identity</td>
                <td><%= extension.valueCoding&.display %></td>
              </tr>
            <% elsif extension.url == "http://hl7.org/fhir/us/core/StructureDefinition/us-core-ethnicity" %>
              <tr>
                <td>Ethnicity</td>
                <td><%= extension.extension&.last&.valueString %></td>
              </tr>
            <% elsif extension.url == "http://hl7.org/fhir/us/core/StructureDefinition/us-core-race" %>
              <tr>
                <td>Race</td>
                <td><%= extension.extension&.last&.valueString %></td>
              </tr>
            <% end %>
          <% end %>
          <% if @patient.extension.nil? %>
            <tr>
              <td>Gender</td>
              <td><%= @patient.gender&.capitalize %></td>
            </tr>
          <% end %>
          <tr>
            <td>Age</td>
            <td><%= sanitize(@patient.age) %> years old</td>
          </tr>
          <tr>
            <td>DOB</td>
            <td><%= display_date(@patient.birth_date) %></td>
          </tr>
          <tr>
            <td>Marital Status</td>
            <td><%= sanitize(@patient.marital_status&.text) %></td>
          </tr>
          <tr>
            <td>Contact Info</td>
            <td>
              <% @patient.telecoms&.each do |telecom| %>
                <%= display_telecom(telecom) %><br />
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class='row address'>
      <p>
        <%= 'Address'.pluralize(@patient.addresses&.count) %>
      </p>
      <table class='table table-striped table-dark status'>
        <% @patient.addresses&.each do |address| %>
          <%= render partial: 'partials/address', locals: { address: address } %>
        <% end %>
       </table>
    </div>
  </div>
</div>
