
<section class="container-fluid my-5">
  <div class="row justify-content-center my-2">
    <h2 class="text-center">Patients</h2>
  </div>

  <%= render "paginate", row_class: "mx-5 mt-3" %>

  <div class="row justify-content-center my-3">
    <div class="col-12 col-md-10 table-responsive-md">
      <table class="table table-dark table-hover">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>DOB</th>
        </tr>
        <% @patients.each do |patient| %>
        <% patient_name = [patient.name.first&.family, patient.name.first&.given&.join(" ")].compact %>
          <%= button_to patient_path(patient), method: :get, class: "btn btn-link" do %>
            <tr>
              <td><%= patient.id %></td>
              <td><%= patient_name.present? ? patient_name.join(", ") : "(n/a)" %></td>
              <td><%= patient.birthDate ? display_date(patient.birthDate.to_date) : "(n/a)" %></td>
            </tr>
          <% end %>
        <% end %>
        </table>
    </div><!-- /.col -->
  </div><!-- /.row -->

  <%= render "paginate", row_class: "mx-5 mb-3" %>

</section>
