<section class='container'>
  <section class='row'>
    <% if @patient.present? %>
      <div class='col-6 card-container'>
        <%= render 'patient-card' %>
      </div>

      <% if @encounters.present? %>
        <div class='col-lg-6 card-container'>
          <%= render 'encounters-card' %>
        </div>
      <% end %>

      <% if @conditions.present? %>
        <div class='col-lg-6 card-container'>
          <%= render 'conditions-card' %>
        </div>
      <% end %>

      <% if @questionnaire_responses.present? %>
        <div class='col-lg-6 card-container'>
          <%= render 'questionnaire_responses-card' %>
        </div>
      <% end %>

      <!--
      <% if @medications.present? %>
        <div class='col-6 card-container'>
          <%= render 'dashboard/medications-card' %>
        </div>
      <% end %>
      <% if @compositions.present? %>
        <div class='col-lg-6 card-container'>
          <%= render 'dashboard/compositions-card' %>
        </div>
      <% end %>
      <% if @functional_statuses.present? %>
        <div class='col-6 card-container'>
          <%= render 'dashboard/functional-status-card' %>
        </div>
      <% end %>
      <% if @cognitive_statuses.present? %>
        <div class='col-6 card-container'>
          <%= render 'dashboard/cognitive-status-card' %>
        </div>
      <% end %>
      <% if @splasch_observations.present? %>
        <div class='col-6 card-container'>
          <%= render 'dashboard/splasch-observations-card' %>
        </div>
      <% end %>
      -->

    <% else %>
      <h4>Not available</h4>
    <% end %>
  </section>
</section>
