<table class="w-full table-fixed text-xs text-left text-gray-700 dark:text-gray-400 shadow-md border-x-2 overflow-x-auto">
  <thead class="text-xs text-white uppercase bg-gray-900">
    <tr>
      <th scope="col" class="px-2 py-2">Description</th>
      <th scope="col" class="px-2 py-2">Version</th>
      <th scope="col" class="px-2 py-2">Status</th>
      <th scope="col" class="px-2 py-2">Author</th>
      <th scope="col" class="px-2 py-2">Created</th>
      <th scope="col" class="px-2 py-2">Document</th>
      <% if adis.any?(&:doc_revoke_status) %>
        <th scope="col" class="px-2 py-2">Doc Revoke Status Ext</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% adis.each do |adi| %>
      <% target = adi.status == "current" ? "currentAdis" : "supersededAdis" %>
      <tr class="bg-gray-100 border-b border-gray-300 hover:bg-blue-50">
        <td class="px-2 py-2 font-semibold flex col-span-1 flex-shrink-0 whitespace-normal"
          data-controller="table-row-click"
          data-table-row-click-url="/pages/advance_directives/<%= adi.id %>"
          data-action="click->table-row-click#goToLink"
          data-showhide-target="<%= target %>"
        >
          <%= adi.description %>
          <% if adi.revoked? %>
            <span class="bg-red-100 text-red-800 text-xs h-6 font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Revoked</span>
          <% end %>
        </td>
        <td class="px-2 py-2"><%= adi.version %></td>
        <td class="px-2 py-2 <%= adi.status == "current" ? "text-green-500" : ""%>"><%= adi.status %></td>
        <td class="px-2 py-2"><%= adi.author %></td>
        <td class="px-2 py-2"><%= adi.date %></td>
        <td class="px-2 py-2">
          <% if adi.pdf || adi.pdf_binary_id %>
            <button data-modal-target="<%= adi.id %>" data-modal-toggle="<%= adi.id %>" class="border-none text-blue-600 hover:text-red-500 font-medium text-xs px-5 text-center" type="button">
              View PDF
            </button>
            <%= render "pdf_modal", pdf: adi.pdf, binary_id: adi.pdf_binary_id, title: adi.description, id: adi.id, revoked: adi.revoked? %>
            <% else %>
          <%= link_to 'See document', advance_directive_page_path(adi.id), class: 'text-blue-600 hover:text-red-500', data: {turbo: false} %>
          <% end %>
        </td>
        <% if adi.doc_revoke_status.present? %>
          <td class="px-2 py-2 text-red-500"><%= adi.doc_revoke_status %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
