<table class="w-full h-full text-sm text-left text-gray-700 dark:text-gray-400 shadow-md border-x-2">
    <thead class="text-md text-white uppercase bg-gray-900">
      <tr>
        <th scope="col" class="px-6 py-3">
          Description
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
        <th scope="col" class="px-6 py-3">
          Doc Status
        </th>
        <th scope="col" class="px-6 py-3">
          Author
        </th>
        <th scope="col" class="px-6 py-3">
          Date
        </th>
      </tr>
    </thead>
    <tbody>

      <% adis.each do |adi| %>
        <% target = adi.status == 'current' ? 'currentAdis' : 'supersededAdis' %>
        <tr class="bg-gray-100 border-b border-gray-300 hover:bg-blue-50"
          data-controller="table-row-click"
          data-table-row-click-url="/pages/advance_directives/<%= adi.id %>"
          data-action="click->table-row-click#goToLink"
          data-showhide-target="<%= target %>"
        >
          <td class="px-6 py-4 font-semibold">
            <%= adi.description %>
            <% if adi.doc_status == 'entered-in-error' && adi.type == 'Living Will' %>
              <span class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Revoked</span>
            <% end %>
          </td>
          <td class="px-6 py-4"><%= adi.status %></td>
          <td class="px-6 py-4 <%= adi.doc_status == 'entered-in-error' ? 'text-red-500' : '' %>"><%= adi.doc_status %></td>
          <td class="px-6 py-4"><%= adi.author %></td>
          <td class="px-6 py-4"><%= adi.date %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
