<table class="w-full h-full text-sm text-left text-gray-700 dark:text-gray-400 shadow-md border-x-2">
    <thead class="text-md text-white uppercase bg-gray-900">
      <tr>
        <th scope="col" class="px-6 py-3">
          Description
        </th>
        <th scope="col" class="px-6 py-3">
          Version
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
        <th scope="col" class="px-6 py-3">
          Author
        </th>
        <th scope="col" class="px-6 py-3">
          CREATED
        </th>
        <th>
          Document
        </th>
        <% if adis.any?(&:doc_revoke_status) %>
        <th scope="col" class="px-6 py-3">Doc Revoke Status Ext</th>
      <% end %>
      </tr>
    </thead>
    <tbody>

      <% adis.each do |adi| %>
        <% target = adi.status == "current" ? "currentAdis" : "supersededAdis" %>
        <tr class="bg-gray-100 border-b border-gray-300 hover:bg-blue-50"

        >
          <td class="px-6 py-4 font-semibold flex col-span-1 flex-shrink-0"
            data-controller="table-row-click"
            data-table-row-click-url="/pages/advance_directives/<%= adi.id %>"
            data-action="click->table-row-click#goToLink"
            data-showhide-target="<%= target %>"
          >
            <%= adi.description %>
            <% if adi.revoked? %>
              <span class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Revoked</span>
            <% end %>
          </td>
          <td class="px-6 py-4"><%= adi.version %></td>
          <td class="px-6 py-4"><%= adi.status %></td>
          <td class="px-6 py-4"><%= adi.author %></td>
          <td class="px-6 py-4"><%= adi.date %></td>
          <td class="px-6 py-4">
            <% if adi.pdf || adi.pdf_binary_id %>
              <button data-modal-target="<%= adi.id %>" data-modal-toggle="<%= adi.id %>" class="mb-2 pb-4 border-none text-blue-600  hover:text-red-500 font-medium text-sm px-5 text-center" type="button">
                View PDF
              </button>
              <%= render "pdf_modal", pdf: adi.pdf, binary_id: adi.pdf_binary_id, title: adi.description, id: adi.id, revoked: adi.revoked? %>
            <% end %>
          </td>
          <% if adi.doc_revoke_status.present? %>
          <td class="px-6 py-4 text-red-500"><%= adi.doc_revoke_status %></td>
        <% end %>
        </tr>
      <% end %>

    </tbody>
  </table>
