  <h1 class="p-5 text-xl font-bold text-center text-gray-900 dark:text-white">
      <%= @adi.description %>
  </h1>
  <div class="flex items-center justify-between mx-auto pb-4">
    <div class="flex items-center justify-between mr-6 mb-2 pb-4 text-sm">
      <label class="uppercase tracking-wide text-gray-500 mr-2 font-bold">
        Author:
      </label>
      <span class="appearance-none text-gray-900">
        <%= @adi.author %>
      </span>
    </div>
    <div class="flex items-center justify-between mr-6 mb-2 pb-4 text-sm">
      <label class="uppercase tracking-wide text-gray-500 mr-2 font-bold">
        Date:
      </label>
      <span class="appearance-none text-gray-900">
        <%= @adi.date %>
      </span>
    </div>
    <div class="flex items-center justify-between mr-6 mb-2 pb-4 text-sm">
      <label class="uppercase tracking-wide text-gray-500 mr-2 font-bold">
        Status:
      </label>
      <span class="appearance-none text-gray-900">
        <%= @adi.status %>
      </span>
    </div>

    <% if @adi.relates_to_code  %>
      <div class="flex items-center justify-between mr-6 mb-2 pb-4 text-sm">
        <label class="uppercase tracking-wide text-gray-500 mr-2 font-bold">
          <%= @adi.relates_to_code.capitalize %>:
        </label>
        <a href="/advance_directives/<%= @adi.relates_to_ref_id %>" class="appearance-none text-blue-600 hover:text-red-500">
          Related Document
        </a>
      </div>
    <% end %>


    <% if @adi.pdf %>
      <button data-modal-target="pdfModal" data-modal-toggle="pdfModal" class="mb-2 pb-4 border-none text-blue-600  hover:text-red-500 font-medium text-sm px-5 text-center" type="button">
        View PDF
      </button>
      <%= render 'pdf_modal', pdf: @adi.pdf, title: @adi.description %>
    <% end %>

  </div>
