<!-- app/views/advance_directives/show.html.erb -->
<div class="relative xl:mt-6 lg:mt-10 md:mt-12 sm:mt-32 lg:ml-64 w-full lg:w-3/4 h-full mb-4 font-sans">
  <%= turbo_frame_tag "adi" do %>
    <%= turbo_stream.update "queries" do%>
      <%= render 'shared/queries' %>
    <% end %>
    <%= turbo_stream.update "flash" do%>
      <%= render 'shared/flash_messages' %>
    <% end %>

    <%= render "adi_header"%>
    <% @adi.compositions.each do |composition| %>
      <% composition.section.each do |section| %>
        <%= render "composition_section", section: section %>
      <% end %>
    <% end %>
  <% end %>
</div>
