<table class="min-w-full text-sm text-left text-gray-500 dark:text-gray-400">
<thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700">
    <tr>
      <th scope="col" class="px-4 py-3"> <span class="sr-only">Expand/Collapse Row</span></th>
      <th scope="col" class="px-4 py-3 text-left text-sm sm:pl-3">Date</th>
      <th scope="col" class="px-4 py-3 text-left text-sm">Observation</th>
      <th scope="col" class="px-4 py-3 text-left text-sm">Performer</th>
      <th scope="col" class="px-4 py-3 text-left text-sm">Organization</th>
    </tr>
  </thead>
  <tbody data-accordion="table-column">
    <% observations.each do |obj| %>
      <% observation = obj[:resource] %>
      <% identifier = observation.id.to_s.downcase %>
      <tr class="border-b dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-700 cursor-pointer transition" id="table-column-header-<%= identifier%>" data-accordion-target="#table-column-body-<%= identifier%>" aria-expanded="false" aria-controls="table-column-body-<%= identifier%>">
        <td class="p-3 w-4">
          <svg data-accordion-icon="" class="w-6 h-6 shrink-0" fill="currentColor" viewbox="0 0 20 20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </td>
        <td class="px-4 py-3 text-sm text-gray-500"><%= observation.effective %></td>
        <td class="px-4 py-3 text-sm text-gray-500"><%= observation.code %></td>
        <td class="px-4 py-3 text-sm text-gray-500"><%= observation.performer %></td>
        <td class="px-4 py-3 text-sm text-gray-500"><%= observation.organization %></td>
      </tr>
      <tr class="hidden flex-1 overflow-x-auto w-full" id="table-column-body-<%= identifier%>" aria-labelledby="table-column-header-<%= identifier%>">
        <td scope="col" class="px-4 py-3"><span class="sr-only">Expand/Collapse Row</span></td>
        <td class="p-4 border-b" colspan="4">
          <div>
            <h6 class="my-2 text-base leading-none font-medium text-gray-900 dark:text-white">Response</h6>
            <p class="text-base text-gray-500 dark:text-gray-400 max-w-screen-md"><%= observation.measurement %></p>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
