 <h1 class="flex justify-center p-5 text-xl font-bold text-center text-gray-900 dark:text-white">
  <span><%= @toc.title %></span>
</h1>
<div class="flex items-center justify-center mx-auto pb-4">
    <div class="flex items-center justify-center mr-1 mb-2 pb-4 text-sm w-full sm:w-1/2 md:w-1/2">
      <label class="uppercase tracking-wide mr-3 text-gray-500 font-bold">
        Author:
      </label>
      <span class="appearance-none text-gray-900">
        <%= @toc.author %>
      </span>
    </div>
    <div class="flex items-center justify-center mr-1 mb-2 pb-4 text-sm w-full sm:w-1/2 md:w-1/2">
      <label class="uppercase tracking-wide mr-3 text-gray-500 font-bold">
        Date:
      </label>
      <span class="appearance-none text-gray-900">
        <%= @toc.date %>
      </span>
    </div>
    <div class="flex items-center justify-center mr-2 mb-2 pb-4 text-sm w-full sm:w-1/2 md:w-1/2">
      <label class="uppercase tracking-wide mr-3 text-gray-500 font-bold">
        Status:
      </label>
      <span class="appearance-none text-gray-900">
        <%= @toc.status %>
      </span>
    </div>
    <div class="flex items-center justify-center mr-2 mb-2 pb-4 text-sm w-full sm:w-1/2 md:w-full">
      <label class="uppercase tracking-wide mr-3 text-gray-500 font-bold">
        Type:
      </label>
      <span class="appearance-none text-gray-900">
        <%= @toc.type %>
      </span>
    </div>
     <div class="flex items-center justify-center mr-2 mb-2 pb-4 text-sm w-full sm:w-1/2 md:w-full">
      <label class="uppercase tracking-wide mr-3 text-gray-500 font-bold">
        Custodian:
      </label>
      <span class="appearance-none text-gray-900">
        <%= @toc.custodian %>
      </span>
    </div>

  </div>
