<%= turbo_frame_tag "tocs" do %>
  <div class="mt-8 flow-root w-11/12">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <% if @tocs.empty? %>
          <h1 class="text-center">No TOC Composition Found!</h1>
        <% else %>
          <table class="ml-80 w-2/3 text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700">
              <tr>
                <th scope="col" class="px-4 py-3"><span class="sr-only">Expand/Collapse Row</span></th>
                <th scope="col" class="px-4 py-3 min-w-[6rem]">Date</th>
                <th scope="col" class="px-4 py-3 min-w-[6rem]">Type</th>
                <th scope="col" class="px-4 py-3 min-w-[6rem]">Description</th>
                <th scope="col" class="px-4 py-3 min-w-[6rem]">Author</th>
                <th scope="col" class="px-4 py-3 min-w-[6rem]">Custodian</th>
                <th scope="col" class="px-4 py-3"><span>edit</span></th>
              </tr>
            </thead>
            <tbody data-accordion="table-column">
              <% @tocs.each do |toc| %>
                <% identifier = toc.id.downcase %>
                <tr class="border-b dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-700 cursor-pointer transition" id="table-column-header-<%= identifier %>" data-accordion-target="#table-column-body-<%= identifier %>" aria-expanded="false" aria-controls="table-column-body-<%= identifier %>">
                  <td class="p-3 w-4">
                    <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewbox="0 0 20 20" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </td>
                  <td class="px-4 py-3 text-gray-900 whitespace-nowrap dark:text-white"><%= toc.date %></td>
                  <td class="px-4 py-3 text-gray-900 max-w-[25rem] dark:text-white"><%= toc.type %></td>
                  <td class="px-4 py-3 text-gray-900 max-w-[25rem] dark:text-white"><%= toc.title %></td>
                  <td class="px-4 py-3 text-gray-900 whitespace-nowrap dark:text-white"><%= toc.author %></td>
                  <td class="px-4 py-3 text-gray-900 whitespace-nowrap dark:text-white"><%= toc.custodian %></td>
                  <td class="px-4 py-3 text-gray-900 whitespace-nowrap dark:text-white">
                    <button id="toggle-update-button-<%= identifier %>" type="button" data-action="" data-showhide-target="" 
                        class="py-2 px-3 flex items-center text-sm font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                        <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                      </svg>
                      Edit
                    </button>
                  </td>
                </tr>
                <tr class="hidden flex-1 overflow-x-auto w-full" id="table-column-body-<%= identifier %>" aria-labelledby="table-column-header-<%= identifier %>">
                  <td scope="col" class="px-4 py-3"><span class="sr-only">Expand/Collapse Row</span></td>
                  <td class="p-4 border-b" colspan="5">
                    <% if toc.section.present? %>
                      <% toc.section.each do |section| %>
                        <% next if section['title'].blank? || section['title'] == '--' %>
                        <div class="items-center my-2" data-controller="showhide">
                          <h6 class="mb-2 py-2 text-base leading-none font-medium text-gray-900"><%= section['title'] %></h6>
                          <% if section['code'] %>
                            <p class="flex items-center py-2"><b class="w-32">Classification:</b><span class="flex-1"><%= section['code'] %></span></p>
                          <% end %>
                          <% if section['code'].include?('52471-0') %>
                            <p class="flex items-center py-2 text-blue-500 hover:text-red-500 dark:text-blue-900">
                              <%= link_to 'See Medication List', patient_medication_lists_path(patient_id: @patient.id), data: {turbo: false} %>
                            </p>
                          <% end %>
                          <% if section['code'].include?('42348-3') %>
                            <p class="flex items-center py-2 text-blue-500 hover:text-red-500 dark:text-blue-900">
                              <%= link_to 'See Advance Directives', patient_advance_directives_path(@patient.id), data: {turbo: false} %>
                            </p>
                          <% end %>
                          <% section_group = section['objects'].group_by {|obj| obj[:resource_type]}%>
                          <% section_group.each do |type, objects| %>
                            <% if type == 'ServiceRequest' %>
                              <a href="#" class="font-medium mb-2 text-blue-600 dark:text-blue-500 hover:underline"
                                data-action="click->showhide#toggleSection" data-showhide-target="tocServiceRequestButton">
                                Show service requests
                              </a>
                              <div data-showhide-target="tocServiceRequestContent" hidden>
                                <% @service_requests = objects.map {|obj| obj[:resource]} %>
                                <%= render 'service_requests/service_requests' %>
                              </div>
                            <% end %>
                            <% if type == 'Condition' %>
                              <a href="#" class="font-medium mb-2 text-blue-600 dark:text-blue-500 hover:underline"
                                data-action="click->showhide#toggleSection" data-showhide-target="tocConditionButton">
                                Show conditions
                              </a>
                              <div data-showhide-target="tocConditionContent" hidden>
                                <% @conditions = objects.map {|obj| obj[:resource]} %>
                                <%= render 'conditions/conditions'%>
                              </div>
                            <% end %>
                            <% if type == 'AllergyIntolerance' %>
                              <a href="#" class="font-medium mb-2 text-blue-600 dark:text-blue-500 hover:underline"
                                data-action="click->showhide#toggleSection" data-showhide-target="tocAllergyButton">
                                Show allergies
                              </a>
                              <div data-showhide-target="tocAllergyContent" hidden>
                                <% allergies = objects.map {|obj| obj[:resource]} %>
                                <div class="items-center">
                                  <% allergies.each do |allergy| %>
                                    <h6 class="py-2 text-base leading-none font-medium text-gray-700"><%= allergy.code %></h6>
                                    <p class="flex items-center py-2"><b class="w-32">Category:</b><span class="flex-1"><%= allergy.category %></span></p>
                                    <p class="flex items-center py-2"><b class="w-32">Criticality:</b> <span class="flex-1"><%= allergy.criticality %></span></p>
                                    <p class="flex items-center py-2"><b class="w-32">Last Occurrence:</b> <span class="flex-1"><%= allergy.last_occurence %></span></p>
                                    <% allergy.reactions.each do |reaction| %>
                                      <div class="flex items-center space-x-4">
                                        <p class="flex items-center py-2"><b class="w-32">Substance:</b> <span class="flex-1"><%= reaction[:substance]%></span></p>
                                        <p class="flex items-center"><b class="w-28">Manifestation:</b> <span class="flex-1"><%= reaction[:manifestation]%></span></p>
                                      </div>
                                    <% end %>
                                  <% end %>
                                </div>
                              </div>
                            <% end %>
                            <% if type == 'CarePlan' %>
                              <a href="#" class="font-medium mb-2 text-blue-600 dark:text-blue-500 hover:underline"
                                data-action="click->showhide#toggleSection" data-showhide-target="tocCarePlanButton">
                                Show care plan detail
                              </a>
                              <div data-showhide-target="tocCarePlanContent" hidden>
                                <%= render 'care_plan', care_plan: objects.first[:resource] %>
                              </div>
                            <% end %>
                            <% if type == 'Observation' %>
                              <a href="#" class="font-medium mb-2 text-blue-600 dark:text-blue-500 hover:underline"
                                data-action="click->showhide#toggleSection" data-showhide-target="tocObservationButton">
                                Show observations
                              </a>
                              <div data-showhide-target="tocCarePlanContent" hidden>
                                <%= render 'observations_table', observations: objects %>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                       <div class="px-6 py-6 lg:px-8">
                          <h3 class="mt-6 pb-4 text-xl font-medium text-gray-900 border-b-2 border-b-gray-600 dark:text-white">
                            <%= form_with(url: "/patients/:patient_id/transition_of_cares" , method: :put, class: 'space-y-6', data: {turbo: "false"}) do |form| %>
                              <%= form.hidden_field :new_toc_resource, value: '{}' %>
                              <div class="flex items-center justify-end p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                <%= form.submit 'UPDATE TOC',
                                  class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                %>
                              </div>
                            <% end %>
                          </h3>
                        </div>
                    <% end %>

                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br />
          <div class="ml-80">
            <% if @pagy %>
              <%== pagy_nav(@pagy, link_extra: "data-turbo-action='advance'") %>
            <% end %>
            </div>
            <br />
        <% end %>
      </div>
    </div>
  </div>
<% end %>


