<div class=" gap-4 p-3 columns-2" > 
<table class="w-[45vw] p-3 overflow-scroll break-after-column dropzone w-full h-300" id="dropzone1" ondrop="dragDrop(event)" ondragover="allowDrop(event)">
    <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
    All Conditions
    </caption>
    <thead class="text-md text-white uppercase bg-gray-900 w-xl">
    <tr class="h-24">
        <th scope="col" class="text-wrap py-3">
        Code
        </th>
        <th scope="col" class="text-wrap py-3">
        Category
        </th>
        <th scope="col" class="text-wrap py-3">
        Onset/ Recorded/ Asserted Date
        </th>
        <th scope="col" class="text-wrap py-3">
        Asserter
        </th>
        <th scope="col" class="text-wrap py-3">
        Body Site
        </th>
        <th scope="col" class="text-wrap py-3">
        Note
        </th>
        <th scope="col" class="text-wrap py-3">
        Evidences
        </th>
    </tr>
    </thead>
    <tbody >
    <% json_bundle = JSON.parse(json_bundle)  %>
    <% json_bundle.each do |resource| %>
        <% condition = resource %>
        <!-- This parses out the conditions that exist in right list -->
        <% if toc.section.present? %>
            <% toc.section.each do |section| %>
                <% next if section['title'].blank? || section['title'] == '--' %>

                <% section_group = section['objects'].group_by {|obj| obj[:resource_type]}%>
                <% section_group.each do |type, objects| %>
                <% if type == 'Condition' %>
                    <% @conditions = objects.map {|obj| obj[:resource]} %>
                <% end %>
                <% end %>
            <% end %>
        <% end %>
        <% if condition["resourceType"] == "Condition" && !@conditions.any? {|h| h.id == condition['id']} %>
    <tr class=" h-24 bg-indigo-50 border-b border-gray-300 hover:bg-stone-50" id="draggable1-<%=condition['id'].to_s%>" draggable="true" ondragstart="dragStart(event)">
    <td class=" py-4 font-semibold text-wrap"><%= condition['code']['coding'][0]['display'].to_s + " " + condition['code']['coding'][0]['code'].to_s %></td>
    <td class=" py-4 text-wrap"><%= condition['category'][0]['coding'][0]['display'].to_s + " " + condition['category'][0]['coding'][0]['code'].to_s %></td>
    <td class=" py-4 text-wrap">
        <% date = condition['onsetDateTime'].gsub('--', '').presence || condition['recorded'].to_s.gsub('--', '').presence || condition['asserted'].to_s.gsub('--', '').presence%>
        <%= date %>
    </td>
    <td class=" py-4 text-wrap"><%= condition['asserter']['reference'] %></td>
    <td class=" py-4 text-wrap"><%= condition['body_site'].presence || '--' %></td>
    <td class=" py-4 text-wrap"><%= condition['note'].presence || '--' %></td>
    <td class=" py-4 text-wrap">
        <% if condition['evidences'].blank? %>
        --
        <% end %>
        <!-- TODO: put back removed items here -->
    </td>
    </tr>
    <% end %>
    <% end %>
    </tbody>
</table>       
<table class="w-[45vw] p-3 overflow-y-auto" class="dropzone" id="dropzone2" ondrop="dragDrop(event)" ondragover="allowDrop(event)">
    <% if toc.section.present? %>
    <% toc.section.each do |section| %>
        <% next if section['title'].blank? || section['title'] == '--' %>


        <% section_group = section['objects'].group_by {|obj| obj[:resource_type]}%>
        <% section_group.each do |type, objects| %>
            <% if type == 'Condition' %>
            <% @conditions = objects.map {|obj| obj[:resource]} %>
                <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                    <%= "Conditions in selected TOC: " + toc.id.to_s %>
                </caption>
                <thead class="text-md text-white uppercase bg-gray-900">
                    <tr class="h-24">
                        <th scope="col" class="text-wrap py-3">
                        Code
                        </th>
                        <th scope="col" class="text-wrap py-3">
                        Category
                        </th>
                        <th scope="col" class="text-wrap py-3">
                        Onset/ Recorded/ Asserted Date
                        </th>
                        <th scope="col" class="text-wrap py-3">
                        Asserter
                        </th>
                        <th scope="col" class="text-wrap py-3">
                        Body Site
                        </th>
                        <th scope="col" class="text-wrap py-3">
                        Note
                        </th>
                        <th scope="col" class="text-wrap py-3">
                        Evidences
                        </th>
                    </tr>
                </thead>
                <tbody >
                    <% @conditions.each do |obj| %>
                    <% condition = obj%>
                    
                    <tr class=" h-24 bg-indigo-100 border-b border-gray-300 hover:bg-indigo-50" id='draggable2-<%=condition.id%>' draggable="true" ondragstart="dragStart(event)">
                    <td class=" py-4 font-semibold text-wrap"><%= condition.code %></td>
                    <td class=" py-4 text-wrap"><%= condition.category %></td>
                    <td class=" py-4 text-wrap">
                        <% date = condition.onset.gsub('--', '').presence || condition.recorded.gsub('--', '').presence || condition.asserted.gsub('--', '').presence%>
                        <%= date %>
                    </td>
                    <td class=" py-4 text-wrap"><%= condition.asserter %></td>
                    <td class=" py-4 text-wrap"><%= condition.body_site.presence || '--' %></td>
                    <td class=" py-4 text-wrap"><%= condition.note %></td>
                    <td class=" py-4 text-wrap">
                        <% if condition.evidences.blank? %>
                        --
                        <% end %>
                        <% condition.evidences.each do |evidence| %>
                        <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400"><b>Details:</b></p>
                        <p class="mt-1 text-sm font-normal text-blue-500 dark:text-gray-400"><a href="<%= evidence[:path] %><">Evidence linked</a></p>
                        <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400"><%= evidence[:name] %></p>
                        <% end %>
                    </td>
                    </tr>
                    <% end %>
                </tbody>
            <% end %>
        <% end %>
    <% end %>
    <% end %> 
</table>  
</div>

<script> 
// Note: This sets values on initial load.
if (document.getElementById("toc_selected_resource_ids")?.value == '') {
    document.getElementById("toc_selected_resource_ids").value = getChildrenList();
}
</script>
<div class="px-6 py-6 lg:px-8"  >
<h3 class="mt-6 pb-4 text-xl font-medium text-gray-900 border-b-2 border-b-gray-600 dark:text-white">
    <%= form_with(url: "/patients/:patient_id/transition_of_cares" , method: :put, class: 'space-y-6', data: {turbo: "false"}) do |form| %>
    <%= form.hidden_field :original_toc_resource, value: toc_json.to_s %>
    <%= form.hidden_field :toc_selected_resource_ids, value: '' %>
    <%= form.hidden_field :resource_type, value: :resource_type %>
    <div class="flex items-center justify-end p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <%= form.submit 'UPDATE the TOC', 
        class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800", 
        data: {modal_hide: toc.id.to_s}
        %>
    </div>
    <% end %>
</h3>
</div>

<script>

  // This gets the resource ids from the table.
  function getChildrenList() {
    let parent = document.getElementById("dropzone2");
    let childrenList = parent.children;
    let selectedResourceIds = []
    for (var i = 0; i < childrenList.length; i ++){
      selectedResourceIds.push(childrenList[i].id.replace('draggable1-', 'Condition/').replace('draggable2-', 'Condition/'))
    }
    return selectedResourceIds;
  }

  // Drag and drop functionality of the table
  function allowDrop(ev) {
    ev.preventDefault();
  }

  // Drag and drop functionality of the table
  function dragStart(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }

  // Drag and drop functionality of the table
  function dragDrop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.currentTarget.appendChild(document.getElementById(data));

    // For every change in the table, get the updated list of id values
    // in order to send it to the toc controller for updating
    document.getElementById("toc_selected_resource_ids").value = getChildrenList();
  }

</script>