<!-- app/views/transition_of_cares/show.html.erb -->
<div class="relative sm:ml-40 lg:ml-44 overflow-x-auto sm:rounded-lg">
  <%= turbo_frame_tag "toc" do %>
    <%= turbo_stream.update "queries" do%>
      <%= render 'shared/queries' %>
    <% end %>
    <%= turbo_stream.update "flash" do%>
      <%= render 'shared/flash_messages' %>
    <% end %>

    <%= render "toc_header"%>
    <div id="accordion" data-accordion="close">
      <% @toc.section.each do |section| %>
        <% next if section['title'] == '--' %>
      <%= render "composition_section", section: section %>
    <% end %>
    </div>
  <% end %>
</div>
